@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "~/Views/Shared/_NoFooterLayout.cshtml";
}

<section class="sign_up container align-items-center">
    <h2>Forgot Password</h2>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-row col-md-6">
                <div class="input-data ">

                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email Address" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>
        <div class="form-row submit-button">
            <div class="input-data">
                <div class="inner">
                    <button type="submit" class="btn-style" name="submit">Submit</button>
                </div>

            </div>
        </div>
    </form>
</section>