@model IEnumerable<AdminDashboard.Models.BlogModel>
@{
    ViewData["Title"] = "About Srilanka";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-5 mb-5">
        <h3 class="mt-5 mb-5 pt-5">About Sri Lanka</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4" id="blogsContainer">
        
    </div>
</div>

<script>
    var js = jQuery.noConflict();

    js(document).ready(function () {
        var page = 1; // Initial page number
        var loading = false; // Flag to prevent multiple simultaneous requests
        var allNotificationsLoaded = false; // Flag to track when all notifications have been loaded

        function loadNotifications() {
            if (!loading && !allNotificationsLoaded) {
                loading = true;

                js.ajax({
                    url: "@Url.Action("GetData", "AboutSriLanka")" + "?page=" + page,
                    type: "GET",
                    success: function (html) {
                        if (html.trim() === "") {
                            // No more notifications, stop loading
                            allNotificationsLoaded = true;
                        } else {
                            // Append the new notifications to the container
                            js("#blogsContainer").append(html);
                            page++; // Increment the page number for the next request
                        }

                        loading = false;
                    },
                    error: function (error) {
                        console.error("Error loading packages", error);
                        loading = false;
                    }
                });
            }
        }

        // Detect when the user scrolls to the bottom of the page
        js(window).scroll(function () {
            if (js(window).scrollTop() + js(window).height() >= js(document).height() - 100) {
                // Load more notifications when the user is close to the bottom
                loadNotifications();
            }
        });

        // Initial load of notifications
        loadNotifications();
    });
</script>