@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<section class="sign_up container">

    <form id="change-password-form" method="post">
        <h2>Change Password</h2>
        <div class="form-row col-md-6">
            <div class="input-data ">
                <input asp-for="Input.OldPassword" autocomplete="current-password" aria-required="true" placeholder="Old Password" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row col-md-6">
            <div class="input-data ">
                <input asp-for="Input.NewPassword" autocomplete="current-password" aria-required="true" placeholder="New Password" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row col-md-6">
            <div class="input-data ">
                <input asp-for="Input.ConfirmPassword" autocomplete="current-password" aria-required="true" placeholder="Confirm New Password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <partial name="_StatusMessage" for="StatusMessage" />
        <br />
        <button type="submit" class="btn-style" name="submit">Submit</button>
    </form>
</section>
