@model AdminDashboard.Models.ContactModel
@{
    ViewData["Title"] = "About Us";
}
    <section id="about" class="py-4 mt-5">
        <div class="container">
            <div class="title-wrap">
                <h2 class="lg-title mb-5">About Us</h2>
            </div>
            <div class="about-row">
                <div class="about-left">
                    <p class="text mt-4">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Provident at cumque corporis asperiores ducimus totam ab veniam,
                        hic tempora. Doloribus? Lorem ipsum dolor sit amet, <br />
                        consectetur adipisicing elit. Tenetur nesciunt doloribus sit fuga,
                        blanditiis sapiente rem, deleniti officiis, sunt ut similique
                        dicta <br />
                        repellat minus eveniet nostrum! Perspiciatis sequi consequuntur
                        doloribus sit. Velit quaerat nam voluptatum saepe tempora ad sequi
                        animi eum vero molestias, temporibus aut omnis architecto
                        explicabo autem quasi!
                    </p>
                </div>
                <div class="about-right">
                    <p class="text mb-5">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Provident at cumque corporis asperiores ducimus totam ab veniam,
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. <br />
                        Provident, in aliquid saepe necessitatibus sint praesentium
                        repellat autem ea quis incidunt non soluta qui minus ipsa maxime
                        odit <br />ducimus voluptate alias.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- end of contact section -->

    <section class="py-5">
        <div class="container">
            <div class="title-wrap">
                <h2 class="lg-title mb-5">Why Choose Us !</h2>
            </div>
            <div class="about-row">
                <div class="about-left">
                    <div class="about-item">
                        <div>
                            <span><i class="bx bxs-phone me-2"></i>Easy and safe</span>
                            <p class="text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>
                    <div class="about-item">
                        <div>
                            <span><i class="bx bxs-map-pin me-2"></i>Quality properties</span>
                            <p class="text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                <br />
                                Reiciendis, sequi?
                            </p>
                        </div>
                    </div>
                    <div class="about-item">
                        <div>
                            <span><i class="bx bxs-home"></i>Top rated agents</span>
                            <p class="text">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                Autem tempora <br />
                                ex assumenda labore esse sequi!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="about-right ms-5">
                    <img src="images/img6.jpeg" />
                </div>
            </div>
        </div>
    </section>

