@model AdminDashboard.Models.NotificationListModel
@{
    ViewData["Title"] = "Notifications";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section DataTable {
    <partial name="_DataTableCSSPartial" />
    <partial name="_DataTableScriptsPartial" />
}

<div class="col-lg-9 col-md-12 px-4 mt-3">
    <div class="body-contant">
        <h1>@ViewData["Title"]</h1>
        <div id="notification-container" class="row row-cols-1 row-cols-md-2 g-4 mt-5">

        </div>
    </div>
</div>

<script>
    var js = jQuery.noConflict();

    js(document).ready(function () {
        var page = 1; // Initial page number
        var loading = false; // Flag to prevent multiple simultaneous requests
        var allNotificationsLoaded = false; // Flag to track when all notifications have been loaded

        function loadNotifications() {
            if (!loading && !allNotificationsLoaded) {
                loading = true;

                js.ajax({
                    url: "@Url.Action("GetData", "Notifications")" + "?page=" + page,
                    type: "GET",
                    success: function (html) {
                        if (html.trim() === "") {
                            // No more notifications, stop loading
                            allNotificationsLoaded = true;
                        } else {
                            // Append the new notifications to the container
                            js("#notification-container").append(html);
                            page++; // Increment the page number for the next request
                        }

                        loading = false;
                    },
                    error: function (error) {
                        console.error("Error loading notifications", error);
                        loading = false;
                    }
                });
            }
        }

        // Detect when the user scrolls to the bottom of the page
        js(window).scroll(function () {
            if (js(window).scrollTop() + js(window).height() >= js(document).height() - 100) {
                // Load more notifications when the user is close to the bottom
                loadNotifications();
            }
        });

        // Initial load of notifications
        loadNotifications();
    });
</script>
