<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project Name</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- custom css -->
    <link rel="stylesheet" href="css/main.css">

    <!-- BootStrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>

    <!-- header Start-->
    <header class="flex header-sm header">
        <div class="container">
        </div>
    </header>
    <!-- header End -->
    <!-- Dashboard -->

    <section id="dashboard" class="m-5">
        <h2>Dashboard</h2>
        <hr>

        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-3 col-md-12 mb-lg-0 mb-4 px-0">
                    <nav class="sidenav me-5">
                        <ul class="me-3">
                            <li class="nav-link"><a href="index.html"><i class='bx bx-bell'></i> Notification</a></li>
                            <li class="nav-link"><a href="create_package.html"><i class='bx bx-add-to-queue'></i> Create Package</a></li>
                            <li class="nav-link"><a href="edit_package.html"><i class='bx bx-edit-alt'></i> Edit / Delete Package</a></li>
                            <li class="nav-link"><a href="create_blog.html"><i class='bx bx-book-add'></i> Create Blog</a></li>
                            <li class="nav-link"><a href="edit_blog.html"><i class='bx bx-edit-alt'></i> Edit / Delete Blog</a></li>
                            <li class="nav-link"><a href="hotel_request.html"><i class='bx bx-note'></i> Hotel Request</a></li>
                            <li class="nav-link"><a href="edit_hotels.html"><i class='bx bx-edit-alt'></i> Edit / Delete Hotels</a></li>
                            <li class="nav-link"><a href="orders.html"><i class='bx bx-notepad'></i> Package Orders</a></li>
                            <li class="nav-link"><a href="hotel_orders.html"><i class='bx bx-notepad'></i> Hotel Rooms Orders</a></li>
                            <li class="nav-link"><a href="contact_req.html"><i class='bx bx-book-content'></i> Contact</a></li>
                            <li class="nav-link"><a href="users.html"><i class='bx bx-user-pin'></i> Users</a></li>
                            <li class="nav-link"><a href=""><i class='bx bx-log-out'></i> Logout</a></li>
                        </ul>
                    </nav>
                </div>
                    @RenderBody()
            </div>
        </div>


        <!-- Modal -->
        <!-- Scrollable modal -->

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h3 class="mb-4">Hotel Name : Hotel 1</h3>
                        <h4>Room And Hotel Description</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam tempora eos veritatis distinctio vel molestias. Id eum saepe et accusantium, non molestias, eos autem cumque error, quam minus. Placeat, quasi?</p>
                        <h4>Options 1</h4>
                        <p>Wifi / Television / AC</p>
                        <h4>Options 2</h4>
                        <p>No. Of Beds : 2 / No. Of Sofa : 1 / No. Of Bathroom : 1</p>
                        <h4>City : Amman</h4>
                        <h4>Price : $250</h4>
                        <h4>Discount Price : $200</h4>
                        <h4>Main Image</h4>
                        <img src="./images/img11.jpg" class="form_img">
                        <h4>Multiple Images</h4>
                        <img src="./images/img15.jpg" class="form_img">
                        <img src="./images/img15.jpg" class="form_img">
                        <img src="./images/img12.jpg" class="form_img">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger">Reject</button>
                        <button type="button" class="btn btn-primary">Accept</button>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body>


</html>