@model AdminDashboard.Models.SiteModels.BlogsListModel

@{
    @foreach (var item in Model.Blogs)
    {
        <div class="col">
            <div class="card h-100">
                <a href="@Url.Action("Details","AboutSriLanka",new{id=item.Id})">
                    <img src="../../images/content/@item.CardImageUrl" class="card-img-top" />
                </a>
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">
                        @item.ShortDescription
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">@item.LastUpdate?.ToString("dd/MM/yyyy HH:mm")</small>
                </div>
            </div>
        </div>
    }
}
